<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block page_title %}{% endblock %}
    </title>
    {% block page_styles %}{% endblock %}
</head>
<body>

    <ul>
        <li>
            <a href="{% url 'main:index' %}">Главная</a>
            <a href="{% url 'products:index' %}">Каталог</a>
            <a href="{% url 'main:contacts' %}">Контакты</a>
            <a href="{% url 'main:about' %}">О пргоекте</a>
        </li>
    </ul>
    <section>
        {% block page_content %}{% endblock %}
    </section>
</body>
</html>